<!doctype html>
<html>
  <head>
    <title>Babelfish</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<script type="text/cpp">
#include <stdio.h>

int main() {
  printf("Hello, world!\n");
  return 0;
}
</script>

<script type="text/cpp">
#include <iostream>
#include <string>

/* couts take a long ass time */
double someFunction(int num) {
    double another = num * 8.0;
    return another;
}

int main() {
    std::cout << "This is a test of Babelfish\n" << std::endl;
    std::cout << "Here is a number: " << someFunction(7) << std::endl;
    return 0;
}
</script>
<script type="text/javascript" src="babelfish.js"></script>

  </head>
  <body>
    <h1>Babelfish Test</h1>
  </body>
</html>
